/* TodoFormComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input, textarea {
  font-size: 1em;
  padding: .5rem;
  margin: .5rem 0;
  display: block;
  width: 300px;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #aaa;
}
button:hover {
  background-color: #cfd8dc;
}